{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LITReview{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="message">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <header>
        <div class="top-bar">
            <!-- Partie gauche du bandeau -->
            <div class="welcome-message">
                {% if user.is_authenticated %}
                    Bienvenue, {{ user.username }}
                {% else %}
                    Bienvenue, visiteur !
                {% endif %}
            </div>

            <h1>LITReview</h1>
            {% block navigation %}
            <nav>
                <ul>
                    <li><a href="{% url 'feed' %}" aria-label="Flux">Flux</a></li>
                    <li><a href="{% url 'posts' %}" aria-label="Ajouter un post">Posts</a></li>
                    <li><a href="{% url 'user_follows' %}" aria-label="Voir les abonnements">Abonnements</a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="post" style="margin: 0;">
                            {% csrf_token %}
                            <button type="submit" style="background: none; border: none; padding: 0; color: white; cursor: pointer;">Se déconnecter</button>
                        </form>
                    </li>
                </ul>
            </nav>
            {% endblock %}
        </div>
    </header>
    {% block content %}{% endblock %}
     <script src="{% static 'scripts.js' %}"></script>
</body>
</html>

