{% extends 'base.html' %}

{% block content %}
<div class="feed-container">
    <div class="ticket-form-container">

        {% if messages %}
        <div id="message-container" class="messages">
            {% for message in messages %}
            <div class="{{ message.tags }} message">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Formulaire pour suivre un nouvel utilisateur -->
        <h2>Ajouter un utilisateur</h2>
        <form method="post" action="{% url 'user_follows' %}" class="ticket-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Suivre</button>
        </form>
    </div>

    <div class="follow-section">
        <h2>Abonnements</h2>
        <!-- Liste des utilisateurs suivis -->
        {% for follow in follows %}
            <div class="abonnements item-frame-follows">
                <p>{{ follow.followed_user.username }}</p>
                <!-- Lien pour se désabonner -->
                <div class="button-group">
                    <a href="{% url 'unfollow_user' follow.followed_user.id %}" class="button">Se désabonner</a>
                    <a href="{% url 'block_user' follow.followed_user.id %}" class="button">Bloquer</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="follow-section">
        <h2>Abonnés</h2>
        <!-- Liste des abonnés -->
        {% for follower in followers %}
            <div class="abonnes item-frame-follows">
                <p>{{ follower.user.username }}</p>
                <a href="{% url 'block_user' follower.user.id %}" class="button">Bloquer</a>
            </div>
        {% endfor %}
    </div>

    <h2>Utilisateurs bloqués</h2>
    {% for user in blocked_users %}
    <div class="item-frame-follows">
        <p>{{ user.username }}</p>
        <!-- Directly link to the unblock_user URL with the user's ID -->
        <a href="{% url 'unblock_user' user.id %}" class="button button-follow-section">Débloquer</a>
    </div>
    {% empty %}
    <p>Aucun utilisateur bloqué.</p>
    {% endfor %}

</div>
{% endblock %}
